<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 4.1.2 Linear Regression

## Prediction of House Price Using Linear Regression

### Data

The Sacramento real estate transactions file is a list of 985 real estate transactions in the Sacramento area reported over a five-day period, as reported by the Sacramento Bee.

In [1]:
import pandas as pd
import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt

### 1. Explore Data

Perform EDA on this dataset. Find Dependent and Independent Variables to predict house price.

In [2]:
# Read CSV
house_csv = pd.read_csv("Sacramento_transactions.csv")

### 2. Predict Price

We are going to predict `price` from available information.

#### 2.1 What is the Target Variable? Why?

In [3]:
# ANSWER
#target variable is the price as that is what we want as an output

#### 2.2 List all possible variables which might be Independent/Predictor variable.

In [4]:
# ANSWER
#sq__ft, bed, bath, type

#### 2.2 Find correlation between variables

Find correlation between variables. Which is the best predictor? Why? State your reason.

In [5]:
# ANSWER
house_csv.corr()

,zip,beds,baths,sq__ft,price,latitude,longitude
zip,1.000000,0.125319,0.069165,0.130108,-0.093353,-0.290389,-0.539904
beds,0.125319,1.000000,0.839650,0.684041,0.342024,-0.291307,-0.053993
baths,0.069165,0.839650,1.000000,0.665690,0.416208,-0.235792,0.016582
sq__ft,0.130108,0.684041,0.665690,1.000000,0.333897,-0.383274,-0.177742
price,-0.093353,0.342024,0.416208,0.333897,1.000000,-0.039573,0.284485
latitude,-0.290389,-0.291307,-0.235792,-0.383274,-0.039573,1.000000,0.387925
longitude,-0.539904,-0.053993,0.016582,-0.177742,0.284485,0.387925,1.000000

#### 2.3 Find Coefficient and Intercept using Linear Regression

Using LinearRegression of sklearn.linear_model package find Coefficient and Intercept.

Create an instance of LinearRegression.

Explore following methods:

- fit
- predict
- score

In [6]:
from sklearn.linear_model import LinearRegression

##### 2.3.1 Fit predictor and target variables using linear regression

In [8]:
# ANSWER

X = house_csv['sq__ft'].values.reshape(-1,1)
Y = house_csv['price']

linreg=LinearRegression()
linreg.fit(X, Y)

print(linreg.coef_, linreg.intercept_)

[54.15863969] 162930.16140699777

##### 2.3.2 Find R Score

Find $R^2$ Using ```score``` method of Linear Regression.

In [9]:
# ANSWER

linreg.score(X,Y)

0.11148717682951437

### 3. Splitting Data

In [10]:
from sklearn.model_selection import train_test_split

#### 3.1 Create training and testing subsets

Hint: Using `train_test_split` Library.

```
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
```

In [11]:
# ANSWER
## Create training and testing subsets
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

#### 3.2 Check Shape, Sample of Test Train Data

In [12]:
# ANSWER
## Check training/test data
print("X_train shape",X_train.shape)
print("X_test shape",X_test.shape)
print("Y_train shape",y_train.shape)
print("Y_test shape",y_test.shape)

X_train shape (659, 1)
X_test shape (326, 1)
Y_train shape (659,)
Y_test shape (326,)

#### 3.3 Using Linear Regression Find The Score

1. Fit model using X_train, y_train
2. Find score using x_test, y_test

In [13]:
# ANSWER

linreg.fit(X_train, y_train) #training the algorithm

print(linreg.coef_, linreg.intercept_)

[47.43508406] 166482.34144968854

In [14]:
# ANSWER
linreg.fit(X_train, y_train).score(X_test, y_test)

0.13602012247180006

### 3. Predict House Price

Let's assume we have information of following house:

- street:	1140 EDMONTON DR
- city:	SACRAMENTO
- zip:	95833
- state:	CA
- beds:	3
- baths:	2
- sq__ft:	1204
- type:	Residential

**Predict the price of this house using linear regression model.**

In [15]:
#Check the difference between the actual value and predicted value.
y_pred = linreg.predict(X_test)
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df

     Actual      Predicted
613   77000  209458.527612
451  236000  279472.711692
731  240971  259549.976385
436  221000  248971.952639
275  293993  238915.714817
..      ...            ...
697  205000  215814.828877
797  325000  256039.780164
328  572500  355463.716364
525  408431  265384.491725
971  224000  215814.828877

[326 rows x 2 columns]

In [16]:
#Model answer
linreg.intercept_, linreg.coef_

(166482.34144968854, array([47.43508406]))

In [17]:
#Model answer
beta0 = linreg.intercept_
beta1 = linreg.coef_

x = 1204
Ypred = beta1 * x + beta0

print('predicted house price: ',Ypred)

predicted house price:  [223594.18266381]

In [18]:
# ANSWER
x = [[1204]]

ypred1 = linreg.predict(x)
ypred1

array([223594.18266381])

© 2020 Institute of Data